@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-light: #ffffff;
  --text-light: #000000;
  --background-dark: #1a1919;
  --text-dark: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.theme-light {
  background-color: var(--background-light);
  color: var(--text-light);
}

.theme-dark {
  background-color: var(--background-dark);
  color: var(--text-dark);
}
